@import '../../styles/colors.scss';

.registration-button {
  margin: 0 auto;
  margin-top: 26px;
  display: flex;
  width: 270px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-white;
  background-color: $black;
  border: 2px solid $black;
  transition: all .4s;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: -1;

  &:hover {
    color: $black;
    background-color: $white;
  }
}

.modal-button:focus {
  outline: none;
}
