.productList {
  margin: 0 auto;
  padding: 20px;
  display: grid;
  width: 56%;
  min-width: 310px;
  font-family: Roboto, sans-serif;
  grid-template-columns: 368px 368px;
  grid-column-gap: calc(100% - 368px - 368px);
  grid-row-gap: 40px;

  @media (max-width: 1419px) {
    width: 368px;
    grid-template-columns: 368px;
  }

  @media (max-width: 768px) {
    width: 260px;
    grid-template-columns: 260px;
  }
}

// .productList {
//   border: 1px solid palevioletred;
//   margin: 0 auto;
//   padding: 20px;
//   display: grid;
//   width: 100%;
//   min-width: 310px;
//   font-family: Roboto, sans-serif;
//   grid-template-columns: 368px 368px 368px;
//   grid-column-gap: calc(100% - 368px - 368px - 368px - 20px);
//   grid-row-gap: 40px;

//   @media (max-width: 1450px) {
//     width: 60%;
//     grid-template-columns: 368px 368px;
//     grid-column-gap: calc(100% - 368px - 368px);
//   }

//   @media (max-width: 768px) {
//     width: 260px;
//     grid-template-columns: 260px;
//   }
// }

// .productList__item {
//   border: 1px solid sienna;
// }

.productList__text {
  margin-bottom: 16px;
  font-size: 18px;
  text-align: center;
  color: #a5a4a4;
}

.productList__imgBox {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}

.productList__img {
  display: block;
  width: 100%;
  height: 368px;
  object-fit: cover;

  @media (max-width: 768px) {
    height: 260px;
  }
}

.productList__description {
  position: absolute;
  top: 100%;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: 18px;
  color: white;
  background-color: black;
  transition: all .4s;
  cursor: pointer;
}

.productList__imgBox:hover .productList__description {
  top: 0;
  opacity: 1;
}

.productList__descriptionText {
  margin-bottom: 20px;
  text-align: center;
}

.productList__descriptionText_span {
  display: block;
}

.productList__descriptionBtn {
  padding: 20px 30px;
  width: 80%;
  max-width: 250px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  background: white;
  border: none;
  transition: font-weight .2s linear, transform .2s linear;
  cursor: pointer;
}

.productList__descriptionBtn:hover {
  font-weight: 700;
  transform: scale(.98);
}
