.textWrapper {
  text-align: center;
}

.thanks {
  margin-bottom: 20px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
