@import '../../../../../../styles/colors';

.icon {
  width: 120px;
  height: 120px;
}

.name {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 16px;
  word-break: break-all;
  color: $gray;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalButton {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 100;
  background: none;
  border: none;
  outline: none;
  transition: .3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
