@import '../../styles/colors.scss';
@import '../../styles/breakpoints';

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: $text-black;
}

.root {
  display: grid;
  width: 100%;
  max-width: 800px;
  align-content: center;
  grid-template-rows: minmax(min-content, 10vh) fit-content(68vh) minmax(min-content, 10vh);

  @media #{tablet()} {
    padding: 0 15%;
  }

  @media #{tablet(-240)} {
    padding: 0 10%;
  }
}

.title {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  justify-self: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;

  @media #{tablet()} {
    margin-bottom: 5px;
  }

  @media #{tablet(-101)} {
    font-size: 40px;
  }

  @media #{tablet(-206)} {
    font-size: 30px;
  }

  @media #{mobile(60)} {
    font-size: 25px;
  }
}

.cards {
  margin: 3vh 0;
  display: grid;
  overflow-y: auto;
  width: 100%;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  gap: 0 10px;

  @media #{tablet()} {
    /*stylelint-disable declaration-no-important */
    grid-template-columns: 1fr 1fr !important;
    /*stylelint-enable declaration-no-important */
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #f3d218;
  }
}
