.filterBtn {
  padding: 10px 20px;
  display: inline-block;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #606060;
  background-color: #e0e1e2;
  border-radius: 5px;
  transition: background-color .2s linear, color .2s linear;
}

.filterBtn:not(:last-child) {
  margin-right: 2px;
}

.filterBtn:hover {
  color: #282929;
  background-color: #cacbcd;
}
