import React from 'react';
import { Switch, Route } from 'react-router-dom';
/* PLOP_INJECT_COMPONENT_IMPORT */


const {{pascalCase name}} = props => {
  return (
    <Switch>
        /* PLOP_INJECT_COMPONENT_ROUTE */
    </Switch>
  );
};

export default {{pascalCase name}};