.registerFormWrapper {
  padding: 70px 0;
}

.breadCrumbsWrapper {
  margin: 0 auto;
  margin-bottom: 56px;
  width: 60%;
  min-width: 300px;
}

.registerForm {
  margin: 0 auto;
  width: 70%;
  min-width: 300px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: left;
  color: rgba(0, 0, 0, .65);
}

.registerForm__label {
  display: block;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-bottom: 80px;
  }
}

.registerForm__text {
  margin-bottom: 14px;
  font-size: 16px;
}

.registerForm__text_warn {
  color: red;
}

.registerForm__input {
  // padding: 20px;
  padding-left: 24px;
  width: 100%;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, .65);
  border-radius: 4px;
  // appearance: none;
}

.radioContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.onePictureContainer {
  margin-bottom: 20px;
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.imgBox {
  text-align: center;
}

.img {
  width: 276px;
  height: 276px;
  object-fit: contain;
}

.registerForm__btn {
  @media (max-width: 760px) {
    padding: 20px 0;
  }

  margin: 0 auto;
  padding: 30px 0;
  display: block;
  width: 46%;
  min-width: 300px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
  background-color: black;
  border: 2px solid black;
  transition: background-color .2s linear, color .2s linear, font-weight .2s linear;
  cursor: pointer;

  &:hover {
    font-weight: 700;
    color: black;
    background-color: white;
  }
}
