@import '../../../../styles/colors.scss';

.comments {
  display: grid;
  height: 100vh;
  grid-template-rows: min-content min-content min-content;
}

.title {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  color: $text-black;
}

.gradient {
  height: 3px;
  background: linear-gradient(90deg, #ebc806 350px, black 0);
}
