.contacts {
  position: absolute;
  left: 50%;
  padding-top: 45px;
  display: flex;
  width: 771px;
  height: 255px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background: #ffdd15;
  transform: translate(-50%, -50%);
}

.adress,
.phone,
.email {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.adress,
.phone {
  margin-bottom: 24px;
}

@media screen and (max-width: 1400px) {
  .contacts {
    width: 510px;
    height: 240px;
    justify-content: flex-start;
    font-size: 16px;
  }

  .adress,
  .phone,
  .email {
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
}

@media screen and (max-width: 779px) {
  .contacts {
    position: relative;
    left: 0;
    padding-bottom: 35px;
    width: 100%;
    transform: translate(0);
  }

  .adress,
  .phone,
  .email {
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
}

@media screen and (max-width: 425px) {
  .adress,
  .phone,
  .email {
    font-size: 16px;
    text-decoration: none;
    color: black;
  }
}
