.menu {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 5%;
  display: flex;
  width: 81.7%;
  justify-content: center;
  background-color: white;
}

.mainMenu {
  margin: 0 auto;
}

.closeBtn {
  position: absolute;
  top: 3%;
  right: 8%;
  height: 4vh;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.closeBtn::before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 3px;
  height: 100%;
  content: '';
  background: black;
  transform: rotate(45deg);
}

.closeBtn::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 3px;
  height: 100%;
  content: '';
  background: black;
  transform: rotate(-45deg);
}

.top {
  color: #585858;
}

.middle {
  margin-top: 30px;
  margin-bottom: 20px;
}

.bottomLink {
  font-size: 14px;
  color: rgba(0, 0, 0, .65);
}

.bottomLi:not(:last-child) {
  margin-bottom: 10px;
}

.topLi {
  margin-bottom: 10px;
  transition: all .3s;
}

.boldLink {
  font-family: 'Roboto', serif;
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  color: black;
}

.boldLink:hover {
  text-shadow: 1px 1px 1px black;
  color: #ffdd15;
}

.topLi:hover {
  transform: scale(1.1);
}

.middleLi {
  margin-bottom: 20px;
  transition: all .3s;
}

.lightLink {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #585858;
  transition: .3s;
}

.middleLi:hover {
  transform: scale(1.1);
}

.lightLink:hover {
  color: black;
}

.contact {
  display: block;
  color: rgba(0, 0, 0, .65);
}

.burgerIcons {
  margin-top: 30px;
  display: flex;
  width: 70%;
  justify-content: space-around;
}

/* Animaton */
.enter {
  transform: translateY(-150%);
}

.enterActive {
  transition: transform 700ms ease-in-out;
  transform: translate(0);
}

.exit {
  transform: translateY(0);
}

.exitActive {
  transition: 750ms ease-in-out;
  transform: translateY(-150%);
}

.exitDone {
  transform: translateY(-150%);
}

@media screen and (max-width: 1000px) {
  .menu {
    padding-top: 10%;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    padding-top: 19%;
    width: 100%;
  }

  .lightLink {
    font-size: 16px;
  }

  .boldLink {
    font-size: 18px;
  }

  .closeBtn {
    right: 12%;
  }
}

@media screen and (max-width: 375px) {
  .menu {
    width: 100%;
  }

  .lightLink {
    font-size: 14px;
  }

  .boldLink {
    font-size: 16px;
  }

  .closeBtn {
    right: 14%;
  }
}
