.title {
  margin-bottom: 20px;
}

.field {
  margin-top: 10px;
  padding: 8px 15px;
  width: 100%;
  height: 38px;
  color: rgba(0, 0, 0, .87);
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 5px;
}

.field:disabled {
  opacity: .5;
  background-color: white;
}

.selectWrapper {
  position: relative;
  width: 200px;

  .field {
    outline: none;

    &:hover {
      border: 1px solid rgba(34, 36, 38, .35);
    }

    &:focus {
      border: 1px solid rgb(150, 200, 218);
      border-bottom-color: transparent;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.option-wrapper {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 200px;
  background: white;
  border: 1px solid rgb(150, 200, 218);
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.option {
  padding: 11px 0;
  padding-left: 10px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: rgb(228, 228, 228);
  }
}

.active {
  background-color: #f7f7f7;
}

.editButtons {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

.textarea {
  padding: 30px 15;
  min-height: 100px;
  resize: none;
}

.label {
  margin-bottom: 10px;
}
