.button {
  margin-left: auto;
  display: flex;
  width: 270px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #f2f2f2;
  background-color: black;
  border: 2px solid black;
  transition: all .4s;
}

.button:hover {
  color: black;
  background-color: white;
}
