@import '../../../../styles/colors.scss';

.wrapper {
  position: relative;
  background-color: $yellow;
}

.clip {
  position: absolute;
  top: 0;
  left: 50%;
  width: 42px;
  height: 42px;
  transform: translate(-50%, -40%);
}
