@import '../../../../../../styles/colors';
@import '../../../../../../styles/breakpoints';

.description {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  text-align: center;
  color: $white;
  background-color: $black;
  border-radius: 4px;
  transition: all .4s;
  transform: scale(0);
  transform-origin: center;
  cursor: pointer;

  &:hover {
    transform: scale(1);
  }

  @media #{tablet(-330)} {
    font-size: 16px;
  }
}

.icon {
  width: 120px;
  height: 120px;

  &:hover ~ .description {
    transform: scale(1);
  }
}

.name {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 16px;
  word-break: break-all;
  color: $black;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalButton {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 100;
  background: none;
  border: none;
  outline: none;
  transition: .3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
