@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';

.form {
  padding: 15px 60px 20px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  color: $gray;

  @media #{mobile(240)} {
    padding: 15px 20px 20px;
  }
}

.labelText {
  color: $gray;
}

.star {
  color: $error;
}

.error {
  color: $error;
}

.field {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-right: 11px;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid $black;
  border-radius: 2px;

  &:focus {
    outline: none;
  }
}

.button {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: $text-white;
  background-color: $black;
  border: 2px solid $black;
  transition: all .4s;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    color: $black;
    background-color: $white;
  }
}

.textarea {
  resize: none;
}

.drop-down-icon {
  position: absolute;
  top: 50%;
  left: 90%;
  border-top: 5px solid $gray;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: translate(-50%, -50%);
}

.option-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
}

.active {
  font-weight: bold;
  background-color: #f7f7f7;
}
