.socialLinks {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerSidebar {
  margin-top: 75px;
  display: flex;
  width: 19.3%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80%;
}

.headerLogo {
  display: flex;
  width: 73%;
  justify-content: center;
}

.sidebarText {
  display: flex;
  width: 300px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 5px;
  transform: rotate(-90deg);
}

.line {
  width: 50px;
  height: 2px;
  background: black;
  border: none;
}

@media screen and (max-width: 1700px) {
  .sidebarText {
    display: none;
  }

  .socialIcons {
    height: 600px;
  }
}

@media screen and (max-width: 1000px) {
  .headerSidebar {
    display: none;
  }
}
