.calendarEvents {
  display: block;
}

.addEventBtn {
  margin-top: 20px;
  padding: 11px 21px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, .6);
  background: #e0e1e2;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.addEventBtn:hover {
  background-color: #cacbcd;
}
