@import '../../../../../../styles/breakpoints.scss';

.shop-slider {
  margin: 0 auto;
  display: flex;
  width: 90vw;
  max-height: 70vh;
  flex-direction: column;

  @media #{tablet(-180)} {
    width: 80vw;
  }

  @media #{mobile(34)} {
    width: 70vw;
  }
  // .slick-slider {
  //   height: 100%;
  // }

  // .slick-list {
  //   height: 100%;
  // }

  // .slick-track {
  //   width: 100%;
  //   height: 100%;
  // }

  // .slick-slide {
  //   padding: 0 10px;
  //   display: grid;
  //   width: 100%;
  //   height: 100%;

  //   &:focus {
  //     outline: none;
  //   }
  // }
  }