.productList__text {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 18px;
  text-align: center;
  color: #a5a4a4;
}

.productList__item {
  display: grid;
  grid-template: min-content minmax(0, 60vh) min-content / 1fr;
}

.productList__imgBox {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.wrapperDescription{
  position: relative;
  display: flex;
  width: min-content;
  align-items: center;
}

.productList__img {
  display: block;
  width: 28vw;

  @media (max-width: 768px) {
    height: 260px;
  }
}

.productList__description {
  position: absolute;
  top: 100%;
  padding: 15px 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: 20px;
  color: white;
  background-color: black;
  transition: all .5s;
  cursor: pointer;
}

.wrapperDescription:hover .productList__description {
  top: 0;
  opacity: 1;
}

.productList__descriptionText {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-break: break-all;
}

.productList__descriptionText_span {
  display: block;
}

.productList__descriptionBtn {
  padding: 10px 15px;
  width: 80%;
  max-width: 250px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  background: white;
  border: none;
  outline: none;
  transition: font-weight .2s linear, transform .2s linear;
  cursor: pointer;
}

.productList__descriptionBtn:hover {
  font-weight: 700;
  transform: scale(.98);
}

