.table {
  width: 90%;
  border-spacing: 0;
  border-collapse: separate;
  text-align: left;
  color: rgba(0, 0, 0, .87);
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 5px;
}

.title {
  margin-bottom: 20px;
}

.tHead {
  padding: 10px;
}

.cell {
  padding: 10px;
  border-top: 1px solid rgba(34, 36, 38, .15);
}
