/* stylelint-disable */
@import '../../../../../../styles/colors.scss';
//shared style
.border {
  border: 1px solid lightgray;
  border-radius: 3px;
}

.wrapper {
  padding: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  @extend .border;
}
.uploadImg {
  margin: 0 auto;
  height: 106px;
  color: $gray;
}

.info {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 13px;
}

.fileUploader {
  margin-top: 10px;
  padding: 10px 14px;
  @extend .border;
}

.recommendation {
  margin-top: 15px;
}

.add-photo-button {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 18px;
  display: flex;
  width: max-content;
  height: 36px;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: $text-black;
  justify-self: flex-start;
  background-color: #cacbcd;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
