.buttonSave,
.buttonEdit {
  padding: 11px 21px;
  font-size: 14px;
  font-weight: 700;
  text-shadow: none;
  color: white;
  background-color: #2185d0;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.buttonEdit {
  background-color: #db2828;
}

.buttonEdit:hover {
  background-color: #d01919;
}

.buttonSave:hover {
  background-color: #1678c2;
}

.disabled {
  opacity: .4;
}

.adminBtns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
