@import '../../../CalendarEvents/helpers/calendarEventsTable.module.scss';

.confirmBtn,
.disable,
.addComment {
  padding: 11px 21px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, .6);
  background: #e0e1e2;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.addComment {
  margin-top: 40px;
  display: inline-block;
}

.confirmBtn:hover,
.addComment:hover {
  background-color: #cacbcd;
}

.disable {
  background-color: white;
}
