@import '../../../../../../styles/colors.scss';
@import '../../../../../../styles/breakpoints.scss';

.wrapper {
  padding: 20px 50px;
  width: min-content;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.photos {
  display: grid;
  width: min-content;
  grid-template-columns: min-content min-content;
  grid-auto-rows: 300px;
  gap: 10px;

  @media #{tablet(285)} {
    grid-template-columns: min-content;
  }
}

.photo {
  position: relative;
}

.image {
  width: 300px;
  height: 300px;
}

.bucket {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 0;
  width: 37px;
  color: $text-black;
  background-color: lightblue;
  transition: all .04s;
  cursor: pointer;

  &:hover {
    transform: scale(.9);
  }
}

.add-photo-button {
  margin-top: 30px;
  padding: 0 18px;
  display: flex;
  width: max-content;
  height: 36px;
  justify-content: center;
  align-items: center;
  opacity: .8;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: $text-black;
  background-color: #cacbcd;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
