.container {
  padding: 20px 0;
  display: grid;
  grid-template-columns: minmax(320px, 24%) 76%;

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.contentWrapper {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, .87);
}
