.squares {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.squares__item_1,
.squares__item_2,
.squares__item_3,
.squares__item_4,
.squares__item_5 {
  position: fixed;
  border: 3px solid yellow;
  transform: rotate(45deg);
}

.squares__item_1 {
  top: 110px;
  left: -196px;
  width: 25vw;
  height: 25vw;

  @media (max-width: 889px) {
    top: 193px;
    left: -106px;
  }

  @media (max-width: 575px) {
    top: 308px;
    left: -62px;
  }
}

.squares__item_2 {
  top: 475px;
  left: 176px;
  width: 3vw;
  height: 3vw;

  @media (max-width: 889px) {
    top: 385px;
    left: 127px;
  }

  @media (max-width: 768px) {
    top: 413px;
    left: 89px;
  }

  @media (max-width: 575px) {
    top: 426px;
    left: 76px;
  }
}

.squares__item_3 {
  top: 172px;
  right: -51px;
  width: 18vh;
  height: 18vh;

  @media (max-width: 575px) {
    top: 172px;
    right: -38px;
  }
}

.squares__item_4 {
  top: 280px;
  right: -130px;
  width: 28vh;
  height: 28vh;

  @media (max-width: 575px) {
    top: 215px;
    right: -107px;
  }
}

.squares__item_5 {
  top: 276px;
  right: 180px;
  width: 5vh;
  height: 5vh;

  @media (max-width: 889px) {
    right: 90px;
  }

  @media (max-width: 575px) {
    top: 247px;
    right: 80px;
  }
}
