import React from 'react';
import PropTypes from 'prop-types';
import styles from './{{dashCase name}}.module.scss';

const {{pascalCase name}} = props => {
  return (
    <div className={styles.root}>
      This is {{ pascalCase name }}
    </div>
  );
};

{{pascalCase name}}.defaultProps = {

};

{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};