.field {
  padding: 8px 15px;
  width: 100%;
  height: 38px;
  color: rgba(0, 0, 0, .87);
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 5px;
}

.labelText {
  margin-bottom: 14px;
  display: inline-block;
  font-size: 14px;
}

.button {
  padding: 11px 21px;
  width: 105px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  text-shadow: none;
  color: white;
  background-color: #2185d0;
  border: none;
  border-radius: 5px;
  outline: none;
}

.formButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.textarea {
  height: 55px;
  resize: none;
}
