@import '../../../../styles/colors.scss';

.shop {
  display: grid;
  height: 100vh;
  grid-template: min-content min-content min-content / 1fr;
}

.title {
  padding-top: 15px;
  padding-bottom: 20px;
  max-height: 10vh;
  font-size: 48px;
  text-align: center;
}