/* stylelint-disable at-rule-no-unknown*/
@function mobile($fix-width: 0) {
  $width: 360 + $fix-width;

  @return '(max-width: ' + $width + 'px)';
}

@function tablet($fix-width: 0) {
  $width: 820 + $fix-width;

  @return '(max-width: ' + $width + 'px)';
}

@function desktop($fix-width: 0) {
  $width: 1200 + $fix-width;

  @return '(max-width: ' + $width + 'px)';
}
/* stylelint-enable at-rule-no-unknown*/
