.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: rgba(0, 0, 0, .65);
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.details {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

.form {
  margin: 0 auto;
  display: flex;
  width: 90%;
  flex-direction: column;
}

.form__label {
  margin-bottom: 30px;
  width: 100%;
}

.form__text {
  margin-bottom: 16px;
}

.form__text_warn {
  color: red;
}

.form__input {
  padding: 10px 4px;
  width: 100%;
}

.form__btn {
  @media (max-width: 760px) {
    padding: 20px 0;
  }

  padding: 16px 0;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
  background-color: black;
  border: 2px solid black;
  transition: background-color .2s linear, color .2s linear, font-weight .2s linear;
  cursor: pointer;

  &:hover {
    font-weight: 700;
    color: black;
    background-color: white;
  }
}
