.eventList {
  overflow-y: auto;
  height: 100%;
  list-style: disc;
}

.eventItem {
  margin-bottom: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text {
  flex-grow: 1;
}

.date {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.time,
.title {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  letter-spacing: .8px;
}

.time {
  margin-right: 20px;
  margin-left: 20px;
  display: list-item;
  width: 25%;
  white-space: nowrap;
}

.title {
  margin-bottom: 5px;
  font-weight: bold;
}

.descr {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .8px;
}

.eventList::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 4px;
  height: 4px;
  background-color: gainsboro;
  border-radius: 5px;
}

.eventList::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  background: #faf819;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .eventItem {
    padding-right: 10px;
  }

  .time {
    font-size: 13px;
  }
}

@media screen and (max-width: 390px) {
  .time {
    white-space: pre-wrap;
  }
}
