@import '../../../../../../styles/colors.scss';

.comment-wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr min-content;
}

.comment {
  display: grid;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 25px;
  grid-template-rows: 1fr min-content;
}

.text {
  margin-bottom: 35px;
  color: $black;
}

.name {
  color: $gray;
}
