.textWrapper {
  padding: 10px;
  text-align: center;
}

.thanks {
  margin-bottom: 20px;
}

.manager {
  margin-bottom: 80px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.link {
  @media (max-width: 760px) {
    padding: 20px 0;
  }

  margin: 0 auto;
  padding: 30px 0;
  display: block;
  width: 100%;
  min-width: 300px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: 2px solid black;
  transition: background-color .2s linear, color .2s linear, font-weight .2s linear;
  cursor: pointer;

  &:hover {
    font-weight: 700;
    color: black;
    background-color: white;
  }
}
