@import '../../../../../../styles/colors.scss';

.prev,
.next {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  font-weight: 300;
  background-image: url('../../assets/left-arrow-shop.svg');
  cursor: pointer;
}

.prev {
  left: 0;
  transform: translate(-80%, 0);
}

.next {
  left: 100%;
  transform: translate(-20%, 0) rotateY(180deg);
}
