.calendar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 10.4%;
  overflow-y: auto;
  width: 100%;
  background-color: white;
}

.calendarInner {
  margin: 0 auto;
  max-width: 1100px;
}

.top {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  align-items: center;
}

.selects {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.calendarSelect {
  padding-left: 15px;
  width: 150px;
  height: 45px;
  background-color: white;
  border: 2px solid #fbf947;
  border-radius: 5px;
  outline: none;
}

.calendarSelect:not(:last-child) {
  margin-right: 20px;
}

.calendarOption {
  font-size: 14px;
  line-height: 16px;
  color: #1f1f1f;
  background-color: white;
  border: 2px solid #fbf947;
  outline: none;
}

.date,
.curDate,
.backdropDate {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  background: #fbfa59;
  border-radius: 0 3px;
}

.curDate {
  background-color: white;
}

.cell,
.curentDay {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  overflow: hidden;
  width: calc(100% / 7);
  max-width: 154px;
  height: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid gainsboro;
  border-radius: 5px;
}

.curentDay {
  background-color: #fbfa59;
  border: 2px solid #fbfa59;
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border: 2px solid #bcbcbc;
  border-radius: 5px;
  transition: all .4s;
  transform: translateY(-145%);
  cursor: pointer;
}

.backdropDate {
  right: -.5px;
  background-color: white;
  border-radius: 0 3px;
}

.cell:hover > .backdrop,
.curentDay:hover > .backdrop {
  transform: translateY(0);
}

.cell:last-child {
  margin-right: 0;
}

.disabled {
  opacity: .5;
}

.eventCount {
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: white;
}

.details {
  position: absolute;
  bottom: 5px;
  display: block;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #c5c5c5;
}

.tHead {
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 11px;
  width: calc(100% / 7);
  max-width: 142px;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  color: #6c6c6c;
}

.tRow {
  display: flex;
}

.bgEventCount {
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.eventDay {
  border: 2px solid #fbf947;
}

.eventDay:hover {
  border: 2px solid white;
}

.CalendarSelect {
  margin-bottom: 40px;
}

.closeBtn {
  position: relative;
  height: 4vh;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.closeBtn::before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 3px;
  height: 100%;
  content: '';
  background: black;
  transform: rotate(45deg);
}

.closeBtn::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 3px;
  height: 100%;
  content: '';
  background: black;
  transform: rotate(-45deg);
}

@media screen and (max-width: 1200px) {
  .calendar {
    padding: 8px 8.4%;
  }

  .eventCount {
    margin-bottom: -10px;
    font-size: 14px;
    line-height: 16px;
  }

  .bgEventCount {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .calendarSelect {
    width: 120px;
    height: 35px;
  }

  .eventCount {
    margin-bottom: -20px;
    font-size: 16px;
    line-height: 18px;
  }

  .bgEventCount {
    margin-top: 10px;
    font-size: 16px;
  }

  .details {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .calendar {
    padding: 8px 4.4%;
  }

  .cell,
  .curentDay {
    flex-direction: column;
    justify-content: space-between;
  }

  .date,
  .curDate {
    position: relative;
    width: 100%;
    border-radius: 0;
  }

  .bgEventCount {
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 14px;
  }

  .eventCount {
    margin-top: 5px;
    font-size: 14px;
  }

  .closeBtn {
    right: 8%;
    flex-grow: 1;
  }
}

@media screen and (max-width: 425px) {
  .closeBtn {
    position: absolute;
    top: 2%;
  }

  .selects {
    margin-top: 10px;
  }

  .bgEventCount {
    margin-bottom: 9px;
    font-size: 10px;
  }

  .eventCount {
    font-size: 10px;
  }
}
