.popUp {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding-right: 8px;
  padding-left: 20px;
  overflow: hidden;
  width: 100%;
  color: #1f1f1f;
  background-color: white;
  border-radius: 5px;
}

.closeBtn {
  position: absolute;
  top: 3%;
  right: 4%;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.closeBtn::before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 3px;
  height: 100%;
  content: '';
  background: black;
  transform: rotate(45deg);
}

.closeBtn::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 3px;
  height: 100%;
  content: '';
  background: black;
  transform: rotate(-45deg);
}

.top {
  padding-top: 16px;
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.line {
  position: absolute;
  top: 52px;
  left: -8px;
  width: 103%;
  height: 2px;
  background-color: #faf819;
}

.date {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.main {
  position: relative;
  z-index: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 90%;
}

.rectangleBig {
  position: absolute;
  z-index: -1;
  top: 80px;
  right: -23%;
  display: block;
  width: 190px;
  height: 190px;
  background: transparent;
  border: 3px solid #ffffaf;
  transform: rotate(45deg);
}

.rectangleSmall {
  position: absolute;
  z-index: -1;
  top: 150px;
  right: 27%;
  display: block;
  width: 100px;
  height: 100px;
  background: transparent;
  border: 3px solid #ffffaf;
  transform: rotate(45deg);
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
  height: 80%;
  justify-content: flex-start;
  font-family: 'SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospa', sans-serif;
  font-size: 14px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14),
    0 9px 46px 8px rgba(0, 0, 0, .12);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
  .closeBtn {
    right: 6%;
  }
}

@media screen and (max-width: 425px) {
  .closeBtn {
    right: 9%;
  }
}
