.btnBox {
  display: flex;
  justify-content: space-around;
}

.btnEdit,
.btnDelete {
  padding: 10px 18px;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnEdit {
  background-color: #2185d0;
}

.btnEdit:hover {
  background-color: #1678c2;
}

.btnDelete {
  background-color: #db2828;
}

.btnDelete:hover {
  background-color: #d01919;
}
