@import '../../styles/colors';

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
  height: 80%;
  justify-content: flex-start;
  font-family: 'SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospa', sans-serif;
  font-size: 14px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14),
    0 9px 46px 8px rgba(0, 0, 0, .12);
  transform: translate(-50%, -50%);
}

.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .45);
}
