.wrapper {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}

.form-title {
  padding-bottom: 13px;
  font-size: 16px;
  font-weight: 700;
}

.form {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(34, 36, 38, .1);
  border-radius: 4px;
}

.header {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  background-color: #f9fafb;
  border-bottom: 1px solid rgba(34, 36, 38, .1);
}

.column-title {
  padding: 13px 11px;
  width: 100%;
}

.body {
  display: flex;
}

.field {
  padding: 13px 11px;
  padding-right: 60px;
  display: flex;
  width: 100%;
  align-items: center;
}

.field-image {
  margin: 10px 0 10px 60px;
  display: flex;
  width: 100%;
}

.image {
  width: 80px;
  height: 80px;
}
