.nav {
  padding-left: 12px;
}

.navigation {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4183c4;
}

.innerList {
  margin-left: 30px;
}

.navigation__item {
  margin-bottom: 14px;
}

.navigation__icon {
  width: 14px;
}

.navigation__category {
  margin-left: 8px;
}

.navigation__category_accent {
  margin-left: 8px;
  font-weight: 700;
  color: red;
}

.navigation__link {
  display: flex;
  align-items: center;
  color: #4183c4;
}

.navigation__link:visited {
  color: #4183c4;
}

.navigation__link:hover {
  font-weight: 700;
  color: #1e70bf;
}

.navigation__link_active {
  color: #ffdd15;
}
