.map {
  position: relative;
  width: 100%;
  height: 512px;
}

@media screen and (max-width: 1145px) {
  .place-card {
    padding-top: 55px;
  }
}

@media screen and (max-width: 779px) {
  .map {
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .map {
    height: 628px;
  }
}
