.headerContent {
  padding-bottom: 3.4%;
  width: 100%;
  background-color: #ffdd15;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-basis: 458px;
}

.logoImg {
  width: 154px;
  height: 95px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .headerContent {
    padding-bottom: 5.4%;
  }

  .headerLogo {
    flex-basis: 350px;
  }

  .logoImg {
    width: 134px;
    height: 75px;
    cursor: pointer;
  }

  .calendarText {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 525px) {
  .headerLogo {
    flex-basis: 270px;
  }
}

@media screen and (max-width: 360px) {
  .headerLogo {
    display: none;
  }
}
