@import '../../../../../../styles/colors';
@import '../../../../../../styles/breakpoints.scss';

.icon {
  width: 120px;
  height: 120px;
}

.name {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 16px;
  text-align: center;
  color: $gray;

  @media #{mobile(36)} {
    font-size: 14px;
  }
}

.card {
  /***--------------------------------------***
   to fix that transform(scale) in .modalButton
   change height and it create a vertical scroll  
  ***---------------------------------------***/
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalButton {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 100;
  background: none;
  border: none;
  outline: none;
  transition: .3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
