@import '../../../../../styles/colors.scss';

.title {
    margin: 0 auto;
    margin-bottom: 14px;
    width: 90%;
    font-size: 23px;
    font-weight: 700;
    color: $text-black;
}

.clientsTitle {
    margin: 0 auto;
    margin-bottom: 16px;
    width: 90%;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, .87);
  }
  
  .filterBtnBox {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
  
  .filterBtn {
    margin-right: 8px;
    font-weight: 700;
    background-color: #e0e1e2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filterBtnLink {
    padding: 10px 20px;
    display: block;
    color: rgba(0, 0, 0, .6);
  }
  
  .filterBtn:hover {
    background: rgba(0, 0, 0, .25);
  }
  
  .unmarkBtn {
    padding: 9px 19px;
    color: #db2828;
    background-color: white;
    border: 1px solid #db2828;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .unmarkBtn:hover {
    box-shadow: 0 0 4px darkgray;
  }
  
  .clientsList {
    margin: 0 auto;
    width: 90%;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: 4px;
  }
  
  .clientsList__item {
    padding: 10px;
    display: grid;
    align-items: center;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    grid-template-columns: .5fr 1.5fr 2fr 2fr 2fr 2fr;
  }
  
  .clientsList_new {
    margin-left: 4px;
    font-weight: 700;
    color: rgb(219, 40, 40);
  }
  
  // Styles for form ==========================================
  .formContainer {
    width: 90%;
  }
  
  .formTitle {
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  .form {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  .picture{
      width: 80px;
      height: 80px;
  }

  .field {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    color: rgba(0, 0, 0, .87);
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: 4px;
  }
  
  .editBtnBox {
    display: flex;
  }
  
  .button,
  .clearBtn {
    margin-right: 4px;
    padding: 10px 20px;
    display: block;
    font-weight: 700;
    color: white;
    background-color: #2185d0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .clearBtn {
    background-color: #db2828;
  }

  .addButton {
    margin-top: 30px;
    margin-left: 50px;
    padding: 0 18px;
    display: flex;
    width: max-content;
    height: 36px;
    justify-content: center;
    align-items: center;
    opacity: .8;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: $text-black;
    background-color: #cacbcd;
    border-radius: 3px;
    cursor: pointer;
  
    &:hover {
      opacity: 1;
    }
  }
  