.calendar {
  display: flex;
  width: 180px;
  height: 20px;
  align-items: center;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.calendarText {
  margin-right: 10px;
  font-size: 18px;
  letter-spacing: -.5px;
  text-transform: uppercase;
}

.calendarIcon {
  width: 24px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .calendarText {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 425px) {
  .calendar {
    justify-content: flex-start;
  }

  .calendarIcon {
    margin-left: 10px;
  }

  .calendarText {
    display: none;
  }
}
