.loginForm {
  margin: 0 auto;
  margin-top: 3%;
  padding: 20px 20px 30px;
  width: 500px;
  flex-direction: column;
  border: 1px solid lightgray;
}

.logoIcon {
  margin: 0 auto;
  display: block;
  width: 100px;
}

.field {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px 15px;
  width: 100%;
  height: 38px;
  color: rgba(0, 0, 0, .87);
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 5px;
}

.buttonSave {
  padding: 11px 21px;
  width: 105px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  text-shadow: none;
  color: white;
  background-color: #2185d0;
  border: none;
  border-radius: 5px;
  outline: none;
}
