.footer {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.content {
  display: flex;
  width: 61%;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: white;
}

.socialIcons {
  margin: 0 -15px;
  display: flex;
  width: 30%;
  max-width: 210px;
  justify-content: space-between;
}

@media screen and (max-width: 1015px) {
  .content {
    width: 70%;
  }
}

@media screen and (max-width: 867px) {
  .content {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .content {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }

  .socialIcons {
    width: 50%;
  }

  .copyright {
    margin-top: 10px;
    font-size: 15px;
  }
}
