.mainSection {
  display: flex;
  width: 100%;
  height: 100vh;
}

.content {
  position: relative;
  overflow: hidden;
  width: 81.7%;
  background-color: rgba(246, 224, 74, .8);
}

.contentInner {
  margin-right: 24%;
  display: flex;
  height: 90%;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.title {
  margin-bottom: 33px;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, .85);
}

.subtitle {
  margin-bottom: 49px;
  margin-left: auto;
  max-width: 649px;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
  }

  .contentInner {
    margin-right: 5%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }

  .contentInner {
    margin-right: 10%;
  }

  .title {
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 32px;
    line-height: 46px;
    text-align: end;
    letter-spacing: .5px;
  }
}

@media (max-width: 525px) {
  .title {
    font-size: 28px;
    line-height: 30px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 375px) {
  .contentInner {
    margin-left: 10%;
  }

  .title {
    font-size: 25px;
    line-height: 27px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 18px;
  }
}
