@import '../../../../../../../styles/colors.scss';

.title {
  margin: 0;
  margin-bottom: 14px;
  width: 90%;
  font-size: 23px;
  font-weight: 700;
  color: $text-black;
}

.info {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

.sub-title {
  width: 90%;
  font-size: 16px;
  font-weight: 700;
}

.clientsTitle {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 90%;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, .87);
}

.filterBtnBox {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90%;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.filterBtn {
  margin-right: 8px;
  font-weight: 700;
  background-color: #e0e1e2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filterBtnLink {
  padding: 10px 20px;
  display: block;
  color: rgba(0, 0, 0, .6);
}

.filterBtn:hover {
  background: rgba(0, 0, 0, .25);
}

.unmarkBtn {
  padding: 9px 19px;
  color: #db2828;
  background-color: white;
  border: 1px solid #db2828;
  border-radius: 4px;
  cursor: pointer;
}

.unmarkBtn:hover {
  box-shadow: 0 0 4px darkgray;
}

.clientsList {
  margin: 0 auto;
  width: 90%;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 4px;
}

.clientsList__item {
  padding: 10px;
  display: grid;
  align-items: center;
  border-bottom: 1px solid rgba(34, 36, 38, .15);
  grid-template-columns: .5fr 2fr 2fr 1.5fr 1fr 1.5fr;
}

.clientsList_new {
  margin-left: 4px;
  font-weight: 700;
  color: rgb(219, 40, 40);
}

// Styles for form ==========================================
.formContainer {
  width: 90%;
}

.formTitle {
  margin-bottom: 20px;
  font-size: 30px;
}

.form {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.form-field {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.textarea {
  height: 100px;
}

.error {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  padding: 7px 10px;
  max-width: 200px;
  font-size: 12px;
  text-align: center;
  color: #db2828;
  border: 1px solid #db2828;
  border-radius: 4px;
  transform: translateX(-50%);

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 10px;
    height: 10px;
    content: '';
    background-color: white;
    border-top: 1px solid #db2828;
    border-left: 1px solid #db2828;
    transform: translate(-50%, -58%) rotate(45deg);
  }
}

.field {
  padding: 10px;
  width: 100%;
  color: rgba(0, 0, 0, .87);
  background-color: white;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 4px;

  &:focus {
    border: 1px solid #85b7d9;
    outline: none;
  }

  &[disabled] {
    opacity: .5;
  }

  &.textarea {
    margin-top: 10px;
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .textarea {
    margin-left: -10px;
    resize: none;
  }
}

.info .wrapper {
  margin-left: 10px;
}

.selectWrapper {
  position: relative;

  .field {
    outline: none;

    &:hover {
      border: 1px solid rgba(34, 36, 38, .35);
    }

    &:focus {
      border: 1px solid rgb(150, 200, 218);
      border-bottom-color: transparent;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.buttons {
  margin-top: 20px;
  width: 215px;
}

.option-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid rgb(150, 200, 218);
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.option {
  margin: 1px 0;
  padding: 11px 0;
  padding-left: 10px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: rgba(0, 0, 0, .05);
  }
}

.editBtnBox {
  display: flex;
}

.button,
.clearBtn {
  margin-right: 4px;
  padding: 10px 20px;
  display: block;
  font-weight: 700;
  color: white;
  background-color: #2185d0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clearBtn {
  background-color: #db2828;
}
