@import '../../../../styles/colors.scss';
@import '../../../../styles/breakpoints.scss';

.home__gallery-section__root {
  margin: 0 auto;
  padding: 0 10vw 10vh;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-color: $yellow;
  align-content: center;

  .sliderName {
    margin: 30px 0;
    display: flex;
    height: min-content;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: $text-black;
  }

  .slick-list {
    margin: 0 auto;
    width: 100%;
    height: 70vh;

    &:focus {
      border: none;
      outline: none;
    }
  }

  .slick-track {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .slide-image {
    padding: 0 2%;
    max-width: 100%;
    max-height: 60vh;

    @media #{tablet()} {
      padding: 0 4%;
    }
  }

  .slick-arrow {
    width: 30px;
    height: 30px;

    &::before {
      font-size: 40px;

      @media #{mobile(150)} {
        font-size: 35px;
      }
    }
  }

  .slick-prev {
    transform: translateX(-46%);
  }

  .slick-next {
    transform: translateX(12%);
  }

  .slick-slide {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
  }

  .slide {
    border: none;
    outline: none;
  }
}
