.serviceTitle {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 90%;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, .87);
}

.serviceList {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 90%;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 4px;
}

.serviceList__item_head,
.serviceList__item {
  padding: 10px;
  display: grid;
  align-items: center;
  border-bottom: 1px solid rgba(34, 36, 38, .15);
  grid-template-columns: 2fr 2fr 1fr;
}

.serviceList__item_head,
.serviceList__itemKids_head,
.serviceList__itemServices_head {
  font-weight: 700;
}

.btnBox {
  margin: 0 auto;
  width: 90%;
}

.serviceList__itemKids_head,
.serviceList__itemKids {
  padding: 10px;
  display: grid;
  align-items: center;
  border-bottom: 1px solid rgba(34, 36, 38, .15);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.serviceList__itemServices_head,
.serviceList__itemServices {
  padding: 10px;
  display: grid;
  align-items: center;
  border-bottom: 1px solid rgba(34, 36, 38, .15);
  grid-template-columns: .2fr 1fr 1fr 2fr 1fr;
}

.filterBtnBox {
  margin: 0 auto;
  margin-bottom: 14px;
  width: 90%;
}
