.uploadBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.uploadImgBox {
  width: 120px;
}

.uploadImg {
  width: 100%;
}

.uploadText {
  margin-bottom: 8px;
}

.fileUploader {
  margin-bottom: 8px;
  padding: 10px 16px;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 5px;
}
