.form {
  height: 70%;
}

.fieldset {
  padding-top: 20px;
  border: 1px solid rgba(34, 36, 38, .15);
}

.legend {
  margin-top: 25px;
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
}

.title {
  margin-bottom: 20px;
}

.labelText {
  margin-top: 20px;
  margin-bottom: 20px;
}

.field {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 15px;
  width: 100%;
  height: 38px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, .87);
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 5px;
}

.textarea {
  padding: 30px 15;
  min-height: 100px;
  resize: none;
}

.buttonSave {
  margin-top: 20px;
  padding: 11px 21px;
  display: inline-block;
  width: 105px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  text-shadow: none;
  color: white;
  background-color: #2185d0;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.buttonSave:hover {
  background-color: #1678c2;
}
