.comments-slider {
  .slick-slider {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 80vw;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    margin: 0 30px;
    display: flex;
    height: auto;
    justify-content: center; //optional
  }

  /* stylelint-disable */
  //the only one way to increase dots size
  .slick-dots {
    bottom: -55px;
    button:before {
      font-size: 14px;
    }
  }
  /* stylelint-enable */
}
