$borderColor: rgba(34, 36, 38, .15);

.formWrapper {
  width: 100%;
}

.title {
  margin-bottom: 20px;
}

.field {
  padding: 8px 15px;
  width: 100%;
  height: 38px;
  color: rgba(0, 0, 0, .87);
  border: 1px solid $borderColor;
  border-radius: 5px;
}

.formTop {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  border: 1px solid $borderColor;
}

.upload {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 70%;
  border-right: 1px solid $borderColor;
}

.formTitle,
.uploadType {
  font-size: 18px;
  font-weight: 700;
}

.uploadImg {
  width: 120px;
  height: 80px;
}

.uploadInfo {
  font-size: 14px;
}

.upload .field {
  display: flex;
  align-items: center;
  border: 1px solid $borderColor;
  border-radius: 5px;
}

.uploadDescription {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.textarea {
  width: 100%;
  height: 200px;
}

.buttonSave {
  padding: 11px 21px;
  width: 105px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  text-shadow: none;
  color: white;
  background-color: #2185d0;
  border: none;
  border-radius: 5px;
  outline: none;
}

.buttonSave:hover {
  background-color: #1678c2;
}

.content {
  padding: 20px 100px;
  border: 1px solid $borderColor;
}

.addPic {
  margin-top: 40px;
}
