@import '../../../../../../../styles/colors.scss';

$borderColor: rgba(34, 36, 38, .15);

.contentWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  width: 100%;
}

.title {
  margin-bottom: 20px;
}

.field {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 8px 15px;
  width: 100%;
  height: 38px;
  color: rgba(0, 0, 0, .87);
  border: 1px solid $borderColor;
  border-radius: 5px;
}

.upload .field {
  display: flex;
  align-items: center;
  border: 1px solid $borderColor;
  border-radius: 5px;
}

.formTop {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  border: 1px solid $borderColor;
}

.upload {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 70%;
  border-right: 1px solid $borderColor;
}

.formTitle,
.uploadType {
  font-size: 18px;
  font-weight: 700;
}

.uploadImg {
  width: 120px;
  height: 80px;
}

.uploadInfo {
  font-size: 14px;
}

.uploadDescription {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.textarea {
  width: 100%;
  height: 200px;
}

.buttonSave {
  padding: 11px 21px;
  width: 105px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  text-shadow: none;
  color: white;
  background-color: #2185d0;
  border: none;
  border-radius: 5px;
  outline: none;
}

.content {
  padding: 20px 100px;
  border: 1px solid $borderColor;
}

.addPic {
  margin-top: 40px;
}

.photo-info{
  margin-top: 10px;
  margin-bottom: 15px;
  padding-right: 50px;
  display: grid;
  height: 60vh;
  align-items: center;
  border: 1px solid rgba(34, 36, 38, .15);
  grid-template: 1fr/ 2fr 1fr;
}

.labelText{
  font-weight: bold;
  color: $text-black;
}

.adminBtns{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  
  .buttonSave{
    margin-right: 20px;
  }
}