.success {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #4d4d4d;
}

.success__imgBox {
  margin-bottom: 40px;
  width: 70px;
}
