.editBtnBox {
  display: flex;
}

.button,
.clearBtn {
  margin-right: 4px;
  padding: 10px 20px;
  display: block;
  font-weight: 700;
  color: white;
  background-color: #2185d0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clearBtn {
  background-color: #db2828;
}

.inputWrapper {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
}

.inputTitle {
  margin-bottom: 10px;
}

.inputTitle_warn {
  color: red;
}

.select {
  padding: 0 4px;
  height: 40px;
  border-color: black;
}

.onePictureContainer {
  padding: 4px 0;
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
}

.imgBox {
  width: 80%;
}

.img {
  display: block;
  width: 100%;
}

.button:hover {
  background-color: #1678c2;
}

.clearBtn:hover {
  background-color: #d01919;
}
