.header {
  padding: 2% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  width: 140px;
  height: 98px;
}

.exitIcon {
  width: 15px;
  height: 12px;
}

.outText {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.logOut {
  display: flex;
}

.logOut:hover .outText {
  font-weight: 700;
}
