/* Animations */
.enter {
  transform: translateY(2000px);
}

.enterActive {
  transition: transform 700ms;
  transform: translateY(0);
}

/* .os-enter-done {
  transform: translateX(0);
} */
.exit {
  transform: translateY(0);
}

.exitActive {
  transition: transform 1000ms;
  transform: translateY(2000px);
}

.exitDone {
  transform: translateY(2000px);
}
