.header {
  margin-right: 10%;
  margin-left: 14.6%;
  padding-top: 61px;
  display: flex;
  width: 72.5%;

  /* max-width: 787px; */
  justify-content: space-between;
  align-items: center;
}

.schedule {
  display: flex;
  width: 100%;
  align-items: center;
  flex-grow: 2;
}

.phone {
  margin-right: 40px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.burger {
  display: flex;
  height: 21px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.top,
.middle,
.bottom {
  display: block;
  width: 24px;
  height: 2px;
  background: black;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.middle {
  width: 18px;
}

.bottom {
  width: 10px;
}

/* Animaton menu*/
.enter {
  transform: translateY(-150%);
}

.enterActive {
  transition: transform 700ms ease-in-out;
  transform: translate(0);
}

.exit {
  transform: translateY(0);
}

.exitActive {
  transition: 750ms ease-in-out;
  transform: translateY(-150%);
}

.exitDone {
  transform: translateY(-150%);
}

@media screen and (max-width: 1000px) {
  .headerLeft {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .header {
    justify-content: flex-end;
  }

  .calendar {
    margin-right: 30%;
  }
}

@media screen and (max-width: 880px) {
  .header {
    justify-content: flex-end;
  }

  .calendar {
    margin-right: 25%;
  }
}

@media screen and (max-width: 792px) {
  .header {
    justify-content: flex-end;
  }

  .calendar,
  .phone {
    display: none;
  }
}
