.form {
  height: 70%;
}

.title {
  margin-bottom: 20px;
}

.adminBtns {
  margin-top: 30px;
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.field {
  padding: 8px 15px;
  width: 100%;
  height: 38px;
  color: rgba(0, 0, 0, .87);
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 5px;
}

.editButtons {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

.textarea {
  padding: 30px 15;
  min-height: 100px;
  resize: none;
}
