/* stylelint-disable */
.wrapper {
  margin-right: 50px;
  padding-left: 100px;
}

@import '../../styles/colors.scss';

.content-wrapper {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.title {
  margin-bottom: 14px;
  font-size: 23px;
  font-weight: 700;
  color: $text-black;
}
