.footerIcon {
  display: flex;
  width: 40px;
  height: 40px;
}

.hoverIcon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .4s;
}

.hoverIcon:hover {
  width: 60px;
  height: 60px;
  background: #ffdd15;
  border-radius: 50%;
}

.sidebarIcon {
  margin-bottom: 40px;
  display: flex;
  width: 70px;
  justify-content: center;
  transition: .1s;
}

.sidebarIcon:hover {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
  transition: .1s;
}

.burgerIcon {
  width: 30px;
  height: 30px;
}
